.tickerWrapper {
  overflow: hidden;
  padding: 10px;
}

.tickerContainer {
  display: inline-flex;
  white-space: nowrap;
  animation: ticker linear infinite;
}

.tickerItem {
  display: inline-block;
  padding: 0 20px;
}

@keyframes ticker {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
